@font-face {
  font-family: "Gilroy";
  src: local("Gilroy Light"), local("Gilroy-Light"), url("../fonts/Gilroylight.woff2") format("woff2"), url("../font/Gilroylight.woff") format("woff"), url("../fonts/Gilroylight.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: local("Gilroy ExtraBold"), local("Gilroy-ExtraBold"), url("../fonts/Gilroyextrabold.woff2") format("woff2"), url("../fonts/Gilroyextrabold.woff") format("woff"), url("../fonts/Gilroyextrabold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}

body {
  margin: 0;
  padding: 0;

  font-family: "Open Sans", Arial, sans-serif;
  font-size: 15px;
  font-style: normal;
  line-height: 30px;
  font-weight: 300;
  color: #000000;

  background-color: #ffffff;
}

a {
  text-decoration: none;
}

.main-header-logo {
  display: block;
  position: absolute;
  top: 25px;
  left: 143px;

  margin: 0;
  padding: 0;





  font-size: 48px;
  font-family: "Gilroy";
  font-weight: 800;
  text-transform: uppercase;
  color: #000;
  letter-spacing: 0.018em;

}

.main-footer-logo {
  font-size: 48px;
  font-family: "Gilroy";
  font-weight: 800;
  text-transform: uppercase;
  color: #ffc600;
  letter-spacing: 0.018em;
  margin-top: 63px;


}


.main-navigation {
  margin: 0 auto;
  margin-top: 40px;
  width: 1160px;
  height: 299px;





  font-size: 15px;
  line-height: 30px;
  font-weight: 300;
  font-style: normal;
  color: #000000;

  background-color: rgba(240, 197, 46, 0.5);
}

.search-navigation input {
  font: inherit;
  color: rgba(0, 0, 0, 0.3);
  letter-spacing: 0.2px;
  background: none;
  border: none;
}

.search-navigation input:hover {
  color: rgba(0, 0, 0, 0.6);
}

.search-navigation input:focus {
  color: #000000;
}

.user-navigation-list,
.site-navigation-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.user-navigation-list {
  letter-spacing: 0.15px;
}

.user-navigation-list a {
  color: #000000;
}

.user-navigation-list a:hover,
.user-navigation-list a:focus {
  color: rgba(0, 0, 0, 0.6);
}

.user-navigation-list a:active {
  color: rgba(0, 0, 0, 0.3);
}

.logout-link a {
  color: rgba(0, 0, 0, 0.3);
}

/* .catalog-navigation {
  list-style: none;
  font-family: "Gilroy";
  font-size: 18px;
  font-weight: 800;
  font-style: normal;
  line-height: 24px;
  letter-spacing: 3.6px;
  color: #000000;
  text-transform: uppercase;
  display: flex;
  width: 1000px;
  justify-content: space-between;


} */

/* .catalog-navigation .catalog-link {
  position: relative;
} */

.catalog-navigation {

  font-family: "Gilroy";
  font-size: 18px;
  font-weight: 800;
  font-style: normal;
  line-height: 24px;
  letter-spacing: 3.6px;
  color: #000000;
  display: block;
  text-transform: uppercase;
}

.catalog-navigation {
  color: #000000;
  text-transform: uppercase;
}

.catalog-navigation:hover,
.catalog-navigation:focus {
  color: rgba(0, 0, 0, 0.6);
}

.catalog-navigation:active {
  color: rgba(0, 0, 0, 0.3);
}

.flex-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 38px;


}

.flex-container-2 {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

}

.user-navigation-list {
  display: flex;
  width: 500px;

  padding-right: 3px;
}

.cart-link {
  padding-left: 65px;
}

.login-link {
  margin-right: auto;
  padding-left: 27px;
}

.site-navigation-list {
  display: flex;
  width: 500px;
}






.catalog-menu-list-hidden {
  /*  display: none;*/
}

.container {
  margin: 0 auto;
  padding: 0;
  width: 1160px;
}

.header-container {
  width: 1043px;
  margin: 0 auto;
  padding: 0;
  padding-top: 42px;
}

.total-search-input {
  padding-left: 36px;
}

.delivery-link {
  margin-right: 34px;
}

.contacts-link {
  margin-left: auto;
}


.catalog-menu-list-hidden {
  list-style: none;
  font-family: "Open Sans";
  font-size: 15px;
  font-weight: 300;
  font-style: normal;
  line-height: 36px;
  letter-spacing: 0.15px;
  color: #000000;
  order: 3;
  width: 640px;
  padding: 0;
  margin: 21px 0 0 2px;
  display: flex;
  flex-wrap: wrap;

  /* position: absolute;
  display: none; */
}



/* .catalog-menu-list-hidden:hover {
  display: block;
} */

.catalog-menu-list-hidden li {
  width: 200px;

}

.catalog-menu-list-hidden li:nth-child(3n+1) {
  width: 240px;
}



.catalog-menu-list-hidden li:last-child {
  width: 100%;
}

.catalog-menu-list-hidden a {
  color: #000000;
  text-transform: none;
}

.catalog-menu-list-hidden a:hover,
.catalog-menu-list-hidden a:focus {
  color: rgba(0, 0, 0, 0.6);
}

.catalog-menu-list-hidden a:active {
  color: rgba(0, 0, 0, 0.3);
}



.site-navigation-list {
  font-family: "Gilroy";
  font-size: 18px;
  font-weight: 800;
  font-style: normal;
  line-height: 24px;
  letter-spacing: 3.6px;
  color: #000000;
  text-transform: uppercase;
}

.site-navigation-list a {
  color: #000000;
}

.site-navigation-list a:hover,
.site-navigation-list a:focus {
  color: rgba(0, 0, 0, 0.6);
}

.site-navigation-list a:active {
  color: rgba(0, 0, 0, 0.3);
}

.flex-container-3 {
  display: flex;
  justify-content: space-between;
}

.contacts {
  width: 561px;
  margin-left: 138px;
}

.about-us {
  width: 462px;
}

.about-us h2,
.contacts h2 {
  font-family: "Gilroy";
  font-size: 47.5px;
  font-weight: 800;
  font-style: normal;
  line-height: 47.5px;
  letter-spacing: 0.5px;
  color: #000000;
}

.about-us p,
.contacts p {
  color: #464646;

}

.company-list {
  list-style: none;
  font-family: "Gilroy";
  font-size: 16px;
  font-weight: 800;
  line-height: 40px;
  color: #000000;
}

.button {
  font-family: "Gilroy";
  font-size: 18.5px;
  font-weight: 800;
  font-style: normal;
  line-height: 23.5px;
  letter-spacing: 3.7px;
  text-align: center;
  color: #000000;
  text-transform: uppercase;
  background: none;
  border: 0;
}

.button:hover,
.button:focus {
  color: #000000;
}

.button:active {
  color: rgba(0, 0, 0, 0.3);
}

.wrapper {
  width: 100%;
  background-color: #464646;

}

.main-footer {
  font-family: "Open Sans";
  font-size: 15px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 30px;
  letter-spacing: normal;
  color: #ffffff;
  margin-top: 93px;


}

.flex-container-4 {
  display: flex;
  width: 1160px;


}

.footer-user-navigation-list {
  list-style: none;
  letter-spacing: 0.15px;
  display: flex;
  width: 325px;
  margin-left: auto;
  justify-content: space-between;
  margin-top: 63px;
}

.footer-user-navigation-list a {
  color: rgba(255, 255, 255, 0.7);
}

.footer-user-navigation-list a:hover,
.footer-user-navigation-list a:focus {
  color: #ffffff;


}

.footer-user-navigation-list a:active {
  color: rgba(255, 255, 255, 0.3);
}

.footer-logout-link a {
  color: rgba(255, 255, 255, 0.3);
}

.flex-container-5 {
  display: flex;
  width: 1160px;
  justify-content: space-between;
}

.footer-contacts-telephone {
  order: 3;

}

.footer-site-navigation-list {
  list-style: none;
  font-family: "Gilroy";
  font-size: 18px;
  font-weight: 800;
  font-style: normal;
  line-height: 24px;
  letter-spacing: 3.6px;
  text-transform: uppercase;
  display: flex;
  justify-content: space-between;


}

.footer-delivery-link {
  margin-right: 38px;
}

.footer-warranty-link {
  margin-right: 38px;
}

.footer-site-navigation-list a {
  color: #ffffff;
}

.footer-site-navigation-list a:hover,
.footer-site-navigation-list a:focus {
  color: rgba(255, 255, 255, 0.6);
}

.footer-site-navigation-list a:active {
  color: rgba(255, 255, 255, 0.3);
}


.social-button-list {
  list-style: none;
}

.social-button-list a {
  color: #ffffff;
}





.page-title {
  font-family: "Gilroy";
  font-size: 47.5px;
  font-weight: 800;
  font-style: normal;
  font-stretch: normal;
  line-height: 47.5px;
  letter-spacing: 0.48px;
  color: #000000;
}

.breadcrumbs {
  list-style: none;
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 300;
  font-style: normal;
  line-height: 24px;
  letter-spacing: 0.14px;
}

.breadcrumbs a {
  color: rgba(0, 0, 0, 0.3);
}

.breadcrumbs a:hover,
.breadcrumbs a:focus {
  color: rgba(0, 0, 0, 0.6)
}

.breadcrumbs a:active {
  color: rgba(0, 0, 0, 0.1);
}

.filter h2 {
  font-family: "Gilroy";
  font-size: 17.5px;
  font-weight: 800;
  font-style: normal;
  line-height: 24.5px;
  letter-spacing: 3.5px;
  color: #000000;
  text-transform: uppercase;
}

.filter fieldset {
  border: none;
}

.filter {
  background-color: #eee;
}

.filter legend {
  font-family: "Gilroy";
  font-weight: 800;
  font-size: 18px;
  font-style: normal;
  line-height: 24px;
  letter-spacing: 0.18px;
  color: #000000;
}

.filter ul {
  font-family: "Open Sans";
  font-weight: 300;
  font-size: 14px;
  font-style: normal;
  list-style: none;
  line-height: 40px;
  letter-spacing: 0.14px;
  color: #000000;
  padding: 0;
  margin: 0;
}

.filter label:disabled {
  color: #a6a6a6;
}

.catalog-list {
  list-style: none;
}

.catalog-item h3 {
  font-family: "Gilroy";
  font-size: 18px;
  font-weight: 800;
  font-style: normal;
  line-height: 24px;
  letter-spacing: 0.18px;
  color: #000000;
}

.catalog-item-price span {
  font-family: "Gilroy";
  font-size: 16px;
  font-weight: 300;
  font-style: normal;
  line-height: 24px;
  letter-spacing: 0.16px;
  color: #464646;
}


.modal-letter {
  background-color: #ffffff;
}

.modal-letter label {
  font-family: "Gilroy";
  font-size: 17.5px;
  font-weight: 800;
  font-style: normal;
  line-height: 24.5px;
  letter-spacing: normal;
  color: #000000;
}

.modal-letter fieldset {
  border: 0 none;
}

.modal-letter input,
.modal-letter textarea {
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  line-height: 17.5px;
  color: rgba(70, 70, 70, 0.4);
  opacity: 0.4;
  background-color: #f2f2f2;
}


.modal-letter input:hover,
.modal-letter textarea:hover {

  color: rgba(70, 70, 70, 0.4);
  opacity: 1;
  background-color: #ebebeb;
}

.modal-letter input:focus,
.modal-letter textarea:focus {

  color: #464646;
  opacity: 1;
  outline-color: #f0c52e;
  outline-offset: -3px;
  outline-style: solid;
  outline-width: 3px;
  background-color: #fff;
}

.modal-letter input:invalid,
.modal-letter textarea:invalid {
  background-color: #f6dada;
  opacity: 0.5;
  color: rgba(70, 70, 70, 0.4);
}
